.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.box-container {
  
  padding: 20px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-item {
  cursor: pointer;
}

.selected {
  background-color: lightblue;
}
